.divCard{
    width: 70%;
    height: 280px;
    border-bottom: 4px solid #e53935;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 2px;
}

.divCard:hover{
    .divImageTag{
    transition: all 0.3s;
    .imageCard{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }}

    .contentCard{
        .titleCard{
            color: #e53935;
        }
    }
}

.divImageTag{
    overflow: hidden;
    position: absolute;
    width: 22em;
    height: 280px;
}

.divImageTag:hover{
    .labelCard div{
        background-color: #e53935;
    }
}

.imageCard{
    width: 30em;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}

.labelCard{
    position: relative;
    z-index: 3;
    bottom: 4em;
    left: 1em;
    width: 10%;

   
}

.titleCard{
    font-weight: 600;
    margin-left: 1em;
    font-size: 1.4em;
}

.descriptionCard{
    margin-left: 2em;
    font-size: 1em;
    font-weight: 500;
}

.rodapeCard{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content:left;
    margin-top: 110px;
    margin-left: 1em;
    font-size: .9rem;  
}

.divTags{
    display: flex;
    flex-direction: row;
    div{
        margin-right: 0.3em;
    }
}

.contentCard{
    margin-left: 35%;
}