.divImageStories{
    width: 6em;
    height: 6em;
    overflow: hidden;
    border: 5px solid #ccc;
    border-radius: 50%;
}


.imageStories{
    width: 6em;
    height: 6em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.divImageStories:hover{
    border: 5px solid #e53935;
    border-radius: 50%;

    .imageStories{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.cardStorie{
    width: 8.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2.5em;
    text-align: center;
    
}

.titleStorie{
    margin-left: 12px;
    font-size: 0.7em;
}


